{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="nav">
        <div class="nav_title">MovieMon</div>
    </div>
    <div class="game">
        <div class="panel">
            <div class="panel_ab_buttons">
                <button class="a_button">
                    <div class="button_name"><a href="/catch/{{ enemy.imdbID }}/">A</a></div>
                </button>
                <button class="b_button">
                    <div class="button_name"><a href="/worldmap/?escape=1">B</a></div>
                </button>
            </div>
            <div class="panel_nav_buttons">
                <div class="nav_button_wrapper">
                    <button class="nav_button">UP</button>
                </div>
                <div class="nav_button_wrapper">
                    <button class="nav_button">LEFT</button>
                    <button class="nav_button">RIGHT</button>
                </div>
                <div class="nav_button_wrapper">
                    <button class="nav_button">DOWN</button>
                </div>
            </div>
            <div class="panel_nav_buttons">
                <div class="nav_button_wrapper">
                    <button class="other_button">SELECT</button>
                </div>
                <div class="nav_button_wrapper">
                    <button class="other_button">START</button>
                </div>
            </div>
            <div class="player_data">
                <p>&#8858; MovieBalls: {{ movie_balls }}</p>
            </div>
        </div>
        <div class="catch_panel">
            <div class="player"></div>
            <div class="catch_description">
                <p><b>{{ enemy.Title }} appeared!</b></p>
                <hr>
                <p>LVL: {{ enemy.imdbRating }}</p>
                <div class="control">
                    <p>&#9398; Launch MovieBall</p>
                    <p>&#9399; Run</p>
                </div>
            </div>
            <div style="background-image: url({{ enemy.Poster}})" class="movie-cover_catch"></div>
        </div>
    </div>
</body></html>
