{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script type="text/javascript" src="{% static 'buttons.js' %}"></script>
</head>

<body>
    <div class="nav">
        <div class="nav_title">MovieMon</div>
    </div>
    <div class="game">
        <div class="panel">
            <div class="panel_ab_buttons">
                <button class="a_button">
                    <div class="button_name">A</div>
                </button>
                <button class="b_button">
                    <div class="button_name"><a id="control-b" href="/moviemons/">B</a></div>
                </button>
            </div>
            <div class="panel_nav_buttons">
                <div class="nav_button_wrapper">
                    <button class="nav_button">UP</button>
                </div>
                <div class="nav_button_wrapper">
                    <button class="nav_button"><a id="control-left" href="/worldmap/?move=left">LEFT</a></button>
                    <button class="nav_button"><a id="control-right" href="/worldmap/?move=right">RIGHT</a></button>
                </div>
                <div class="nav_button_wrapper">
                    <button class="nav_button">DOWN</button>
                </div>
            </div>
            <div class="panel_nav_buttons">
                <div class="nav_button_wrapper">
                    <button class="other_button">SELECT</button>
                </div>
                <div class="nav_button_wrapper">
                    <button class="other_button">START</button>
                </div>
            </div>
        </div>
        <div class="movies">
            <div class="movie">
                <div class="movie-cover" style="background-image: url({{ selected_moviemon.Poster }})"></div>
                <h2>{{ selected_moviemon.Title }}</h2>
            </div>
            <div class="movie_detail">
                <ul>
                    <li>Writer: <b>{{ selected_moviemon.Writer }}</b></li>
                    <li>Director: <b>{{ selected_moviemon.Director }}</b></li>
                    <li>Actors: <b>{{ selected_moviemon.Actors }}</b></li>
                    <li>Year: <b>{{ selected_moviemon.Year }}</b></li>
                    <li>Rating: <b>{{ selected_moviemon.imdbRating }}</b></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li><span>{{ selected_moviemon.Plot }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body></html>
