{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script type="text/javascript" src="{% static 'buttons.js' %}"></script>
</head>
<body>
<div class="nav">
    <div class="nav_title">MovieMon</div>
</div>
<div class="game">
    <div class="panel">
        <div class="panel_ab_buttons">
            <button class="a_button">
                <div class="button_name"><a id="control-a" href="/save/?to_slot={{ selected }}">A</a></div>
            </button>
            <button class="b_button">
                <div class="button_name"><a id="control-b" href="/worldmap/?to_slot={{ selected }}">B</a></div>
            </button>
        </div>
        <div class="panel_nav_buttons">
            <div class="nav_button_wrapper">
                <button class="nav_button"><a id="control-up" href="?move=up">UP</a></button>
            </div>
            <div class="nav_button_wrapper">
                <button class="nav_button">LEFT</button>
                <button class="nav_button">RIGHT</button>
            </div>
            <div class="nav_button_wrapper">
                <button class="nav_button"><a id="control-down" href="?move=down">DOWN</a></button>
            </div>
        </div>
        <div class="panel_nav_buttons">
            <div class="nav_button_wrapper">
                <button class="other_button select">SELECT</button>
            </div>
            <div class="nav_button_wrapper">
                <button class="other_button start">START</button>
            </div>
        </div>
    </div>
    <div class="start_panel">
        {% for slot in slots %}
            {% if slot %}
                <button class="save_game_button {% if forloop.counter == selected %}selected{% endif %}">
                    {{ slot.number }} ({{ slot.progress }})
                </button>
            {% else %}
                <button class="save_game_button"> -</button>
            {% endif %}
        {% endfor %}
    </div>
</div>
</body>
</html>