{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
<div class="nav">
    <div class="nav_title">MovieMon</div>
</div>
<div class="game">
    <div class="panel">
        <div class="panel_ab_buttons">
            <button class="a_button">
                <div class="button_name"><a href="{% if enemy %}/battle/{{ enemy.imdbID }}/{% else %} {% endif %}">A</a></div>
            </button>
            <button class="b_button">
                <div class="button_name"><a href="/">B</a></div>
            </button>
        </div>
        <div class="panel_nav_buttons">
            <div class="nav_button_wrapper">
                <button class="nav_button"><a href="/worldmap/?move=up">UP</a></button>
            </div>
            <div class="nav_button_wrapper">
                <button class="nav_button"><a href="/worldmap/?move=left">LEFT</a></button>
                <button class="nav_button"><a href="/worldmap/?move=right">RIGHT</a></button>
            </div>
            <div class="nav_button_wrapper">
                <button class="nav_button"><a href="/worldmap/?move=down">DOWN</a></button>
            </div>
        </div>
        <div class="panel_nav_buttons">
            <div class="nav_button_wrapper">
                <button class="other_button"><a href="/moviemons/">SELECT</a></button>
            </div>
            <div class="nav_button_wrapper">
                <button class="other_button">START</button>
            </div>
        </div>
        <div class="player_data">
            <p>MovieBalls: {{ movie_balls }}</p>
        </div>
    </div>
    <div style="display: grid; align-content: center">
        <div class="game_field">
            <table>
                {% for y_map in map %}
                    <tr>
                        {% for x_map in y_map %}
                            <td>
                                {% if x_map == 'player' %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-cpu" viewBox="0 0 16 16">
                                        <path d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
                                    </svg>
                                {% endif %}
                                {% if x_map == 'ball' or x_map == 'enemy' %}
                                    ?
                                {% endif %}
                                {% if x_map == 'empty' %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}

            </table>
        </div>
        {% if event %}
            <div id="event_field">
                {{ event|safe }}
            </div>
        {% endif %}
    </div>

</div>
</body>
</html>
